$_2: 0.125rem;
$_4: 0.25rem;
$_6: 0.375rem;
$_8: 0.5rem;
$_10: 0.625rem;
$_12: 0.75rem;
$_14: 0.875rem;
$_16: 1rem;
$_18: 1.125rem;
$_20: 1.25rem;
$_22: 1.375rem;
$_24: 1.5rem;
$_26: 1.625rem;
$_28: 1.75rem;
$_32: 2rem;
$_34: 2.125rem;
$_36: 2.25rem;
$_40: 2.5rem;
$_44: 2.75rem;
$_48: 3rem;
$_56: 3.5rem;
$_60: 3.75rem;
$_64: 4rem;
$_72: 4.5rem;
$_76: 4.75rem;
$_80: 5rem;
$_84: 5.25rem;
$_88: 5.5rem;
$_92: 5.75rem;
$_96: 6rem;
$_104: 6.5rem;
$_112: 7rem;
$_128: 8rem;
$_160: 10rem;
$_192: 12rem;
$_224: 14rem;
$_256: 16rem;
$_320: 20rem;
$_360: 22.5rem;
$_400: 25rem;
$_440: 27.5rem;
$_480: 30rem;
$_512: 32rem;
$_640: 40rem;
$_768: 48rem;
$_800: 50rem;
$_960: 60rem;
$_1024: 64rem;
$_1280: 80rem;
$_1440: 90rem;
$_1680: 105rem;
$_1920: 120rem;
$_2160: 135rem;

$safeT: env(safe-area-inset-top);
$safeL: env(safe-area-inset-left);
$safeB: env(safe-area-inset-bottom);
$safeR: env(safe-area-inset-right);

* {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    word-wrap: anywhere;
    box-sizing: border-box;
    // iOS平滑滾動
    -webkit-overflow-scrolling: touch;
    // 只允许滚动和缩放
    touch-action: manipulation;

    // 隱藏IE和Edge的滾動條
    -ms-overflow-style: none;
    // 隱藏Firefox的滾動條
    scrollbar-width: none;

    // 隱藏Webkit的滾動條
    &::-webkit-scrollbar {
        display: none;
    }

    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;

    [can-select="false"],
    [can-select="0"],
    .ban-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    [can-select="true"],
    [can-select="1"],
    .can-select {
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

img {
    content: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
    object-fit: cover;

    &[src]:not([src=""]) {
        content: unset;
    }
}

input,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
}

a[href]:not([href=""]),
button {
    cursor: pointer;
}

button * {
    pointer-events: none;
}

span,
b,
strong,
i,
em,
time {
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}