>section.login {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: $_24;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    transition: opacity 0.3s 0.7s;

    &::before {
        content: "";
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom, rgb(48, 48, 48) 0% 50%, transparent 50% 100%);
        transition: left 1s;
    }

    &::after {
        content: "";
        z-index: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom, transparent 0% 50%, rgb(0, 0, 0) 50% 100%);
        transition: right 1s;
    }

    &.show {
        max-width: 100%;
        max-height: 100%;
        opacity: 0;

        &::before {
            left: -100%;
        }

        &::after {
            right: -100%;
        }

        * {
            opacity: 0;
        }
    }

    >h1 {
        z-index: 1;
        line-height: $_40;
        font-size: $_32;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: #fff;
        text-align: center;
        transition: 0.5s;

        @media screen and (min-width: $_480) {
            line-height: $_48;
            transform: scale(125%);
        }
    }

    >section {
        z-index: 1;
        padding: 0 $_20 0 $_16;
        width: 100%;
        max-width: $_320;
        transition: 0.5s;

        &.show {

            >label>input {
                padding: 0 $_16 0 68px;
            }

            >i {
                right: calc(100% - $_56 - $_16);
            }
        }

        >label {
            width: 100%;

            >input {
                padding: 0 $_64 0 $_16;
                width: 100%;
                height: $_44;
                line-height: $_44;
                font-size: $_14;
                letter-spacing: 2px;
                background-color: #ffffff4d;
                backdrop-filter: blur(0.5rem);
                -webkit-backdrop-filter: blur(0.5rem);
                border-radius: calc($_44 / 2);
                transition: 0.3s;
            }
        }

        >i {
            position: absolute;
            top: -$_6;
            right: $_16;
            width: $_56;
            height: $_56;
            line-height: $_56;
            text-align: center;
            background-color: #ffffffb4;
            backdrop-filter: blur(0.5rem);
            -webkit-backdrop-filter: blur(0.5rem);
            border-radius: 50%;
            transition: 0.3s;
            cursor: pointer;
        }
    }

    >button {
        z-index: 1;
        display: flex;
        align-items: center;
        gap: $_8;
        padding: 0 $_24;
        line-height: $_40;
        font-size: $_14;
        background-color: #ffffffb4;
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.5rem);
        border-radius: $_20;
        transition: 0.5s;
    }
}