<!DOCTYPE html>
<html lang="zh-hant">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PARDN. LTD 管理後台｜首頁/商品管理/建立商品</title>
	<link rel="stylesheet" href="../../css/index.css">
	<script src="../../js/index.min.js" defer></script>
	<script src="../../js/inputRegex.js" defer></script>
</head>

<body class="no-select">
	<nav id="top-nav">
		<section>
			<img src="../../image/logo_ffffff.svg" alt="">
			<h1>PARDN. LTD 管理後台</h1>
			<button onclick="javascript: window.open('../login.html', '_self')">登出</button>
		</section>
	</nav>
	<div id="left-tab"></div>
	<div id="right-content">
		<section>
			<nav>
				<ul>
					<li>
						<a href="../../index.html">首頁</a>
					</li>
					<li>
						<a>商品管理</a>
					</li>
					<li>
						<a href="./create.html">新增商品</a>
					</li>
				</ul>
			</nav>
			<div class="input">
				<h2>建立產品</h2>
				<form action="">
					<ul>
						<li class="r3 x2">
							<label for="">
								Product Name<br>
								<input type="text" name="" id="" placeholder="品名">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Total<br>
								<input type="text" name="" id="" placeholder="數量" regex="1" zh="0" en="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Product Code<br>
								<input type="text" name="" id="" placeholder="內部編碼" regex="1" zh="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								EAN<br>
								<input type="text" name="" id="" placeholder="商品編碼" regex="1" zh="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Price<br>
								<input type="text" name="" id="" placeholder="價格" regex="1" zh="0" en="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Size
								<input type="text" name="" id="" placeholder="尺寸" regex="1" zh="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Color
								<input type="text" name="" id="" placeholder="顏色" regex="1" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Length<br>
								<input type="text" name="" id="" placeholder="長度" regex="1" zh="0" en="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Width<br>
								<input type="text" name="" id="" placeholder="寬度" regex="1" zh="0" en="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Height<br>
								<input type="text" name="" id="" placeholder="高度" regex="1" zh="0" en="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Weight<br>
								<input type="text" name="" id="" placeholder="重量" regex="1" zh="0" en="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r1">
							<label for="" class="file">
								Image<br>
								<div>
									<i class="fas fa-upload"></i>
									上傳圖片
								</div>
								<input type="file" name="" id="">
								<i></i>
							</label>
						</li>
					</ul>
				</form>
				<section>
					<ul>
						<li>儲存</li>
						<li class="clear">清除</li>
					</ul>
				</section>
			</div>
			<div class="input">
				<h2>批次匯入</h2>
				<form action="">
					<ul>
						<li class="r1">
							<label for="" class="file">
								File<br>
								<div>
									<i class="fas fa-upload"></i>
									上傳檔案
								</div>
								<input type="file" name="" id="">
								<i></i>
							</label>
						</li>
					</ul>
				</form>
				<section>
					<ul>
						<li>匯入</li>
						<li>下載範例</li>
					</ul>
				</section>
			</div>
		</section>
	</div>
</body>

</html>