>section.body-left {
    z-index: 100;
    position: fixed;
    top: 0;
    left: -$_160;
    bottom: 0;
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    padding-top: $_64;
    width: $_160;
    background-color: #fff;
    border-right: 1px solid lightgrey;
    overflow: hidden scroll;
    transition: 0.3s;

    &[data-show="1"] {
        left: 0;
        box-shadow: 0 0 $_8 darkgray;

        @media screen and (min-width: 640px) {
            box-shadow: 0 0 0 transparent;
        }
    }

    @media screen and (min-width: 640px) {
        left: 0;

        &[data-min="1"]:not(:hover) {
            width: $_48;

            button {
                gap: 0;
            }

            p {
                gap: 0;
            }

            a {
                gap: 0;
                padding: 0 $_8;
            }

            i {
                width: $_24;
                height: $_24;
                line-height: $_24;

                &.fa-solid.fa-chevron-right {
                    display: none;
                }
            }

            span {
                flex-grow: 0;
                width: 0;
                opacity: 0;
                overflow: hidden;
            }
        }
    }

    >button {
        align-items: center;
        gap: $_12;
        margin: $_4;
        padding: 0 $_8;
        height: $_32;
        overflow: hidden;
        line-height: $_32;
        font-size: $_12;
        white-space: nowrap;
        border-radius: $_4;
        transition: 0.3s;

        &.mobile {
            display: flex;

            @media screen and (min-width: $_640) {
                display: none;
            }
        }

        &.desktop {
            display: none;

            @media screen and (min-width: $_640) {
                display: flex;
            }
        }

        i {
            flex-shrink: 0;
            width: $_16;
            height: $_16;
            line-height: $_16;
            text-align: center;
            font-size: $_12;
            pointer-events: none;
            transition: 0.3s;
        }


        span {
            flex-grow: 1;
            text-align: left;
            pointer-events: none;
            white-space: nowrap;
            transition: 0.3s;
        }
    }


    >div {

        &:has(a[data-selected="1"]):not(:has(p[data-show="0"])),
        &:has(p[data-show="1"]) {

            @for $i from 1 through 10 {
                &>section[data-row="#{$i}"] {
                    height: calc(2.5rem * $i);
                }
            }

            p {
                // background-color: lightgray;

                i:nth-last-child(1) {
                    transform: rotate(90deg);
                    padding-right: 0;
                }
            }
        }

        p {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            gap: $_12;
            margin: 0.25rem;
            padding: 0 0.5rem;
            line-height: 2rem;
            height: 2rem;
            font-size: $_12;
            border-radius: 0.25rem;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            transition: 0.3s;

            i {
                flex-shrink: 0;
                width: $_16;
                height: $_16;
                line-height: $_16;
                text-align: center;
                pointer-events: none;
                transition: 0.3s;
            }

            span {
                flex-grow: 1;
                text-align: left;
                pointer-events: none;
                white-space: nowrap;
                transition: 0.3s;
            }
        }

        >section {
            display: flex;
            flex-flow: column;
            height: 0;
            list-style: none;
            overflow: hidden;
            transition: 0.3s;

            >a {
                display: flex;
                // justify-content: space-between;
                align-items: center;
                gap: $_12;
                margin: 0.25rem;
                padding: 0 1.5rem;
                line-height: 2rem;
                height: 2rem;
                text-decoration: none;
                font-size: $_12;
                border-radius: 0.25rem;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer;
                transition: 0.3s;

                &[data-selected="1"] {
                    background-color: lightgray;
                }

                i {
                    flex-shrink: 0;
                    width: $_16;
                    height: $_16;
                    line-height: $_16;
                    text-align: center;
                    font-size: $_12;
                    pointer-events: none;
                    transition: 0.3s;
                }

                span {
                    flex-grow: 1;
                    text-align: left;
                    pointer-events: none;
                    white-space: nowrap;
                    transition: 0.3s;
                }
            }
        }
    }
}