>section.body-right-database {
    width: 100%;
    background-color: #fff;

    &:last-child {
        margin: 0 0 $_128;
    }

    >section {
        position: relative;
        width: initial;
        height: initial;
        overflow-x: scroll;
        overflow-y: hidden;

        >table {
            width: 100%;
            height: initial;
            border-collapse: collapse;

            >thead {

                >tr {

                    >th {
                        line-height: $_32;
                        font-size: $_12;
                        white-space: nowrap;
                        padding: 0 $_12;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        border-bottom: 1px solid lightgray;
                        transition: 0.3s;
                        cursor: pointer;

                        @media (hover: hover) and (pointer: fine) {

                            &:hover {
                                background-color: lightgrey;
                            }
                        }

                        &.asc>i {
                            opacity: 1;
                            transform: rotate(0deg);
                        }

                        &.desc>i {
                            opacity: 1;
                            transform: rotate(180deg);
                        }

                        &:nth-last-child(1) {
                            cursor: unset;

                            @media (hover: hover) and (pointer: fine) {
                                
                                &:hover {
                                    background-color: unset;
                                }
                            }
                        }

                        >i {
                            margin-left: $_8;
                            transform: rotate(90deg);
                            transition: 0.3s;
                            opacity: 0;
                        }
                    }
                }
            }

            >tbody {

                >tr {

                    &:nth-child(2n - 1) {
                        background-color: whitesmoke;
                    }

                    &.hide>td {
                        color: #bfbfbf;
                    }

                    &.info>td {
                        color: red;
                    }

                    >td {
                        padding: 0 $_12;
                        max-width: $_256;
                        line-height: $_40;
                        text-overflow: ellipsis;
                        font-size: $_12;
                        white-space: nowrap;
                        overflow: hidden;

                        // &:last-child {
                        //     position: sticky;
                        //     right: 0;
                        // }

                        a {

                            &::before {
                                content: "🔗";
                                margin-right: $_4;
                            }
                        }

                        button {
                            display: inline-block;
                            vertical-align: top;
                            margin-top: $_8;
                            margin-right: $_8;
                            padding: 0 $_12;
                            line-height: $_24;
                            height: $_24;
                            font-size: $_12;
                            background-color: #000;
                            color: #fff;
                            border: none;
                            border-radius: $_12;
                            transition: 0.3s;

                            &.alert {
                                background-color: red;

                                &:hover {
                                    background-color: red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $_12;
        height: $_40;
        border-top: 1px solid lightgray;

        >section {
            display: flex;
            align-items: center;
            gap: $_8;

            a {
                font-size: $_12;
            }

            p {
                font-size: $_12;
            }

            select {
                font-size: $_12;
            }
        }
    }
}