>section.folder-path {
    z-index: 100;
    position: fixed;
    top: 100vh;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $_16;
    width: inherit;
    overflow: hidden;
    background-color: #00000080;
    opacity: 0;
    transition: opacity 0.3s;

    &[data-show="1"] {
        top: $_64;
        opacity: 1;
    }

    >section {
        display: flex;
        flex-flow: column;
        padding: $_16;
        width: 100%;
        max-width: $_480;
        max-height: 100%;
        overflow: scroll;
        background-color: #fff;
        border-radius: $_16;

        >div {
            display: flex;
            align-items: center;
            gap: $_12;
            padding: 0 $_12 0;
            width: 100%;
            height: $_40;
            line-height: $_40;
            font-size: $_14;
            white-space: nowrap;
            border-bottom: 1px solid lightgray;
            transition: 0.3s;

            &:nth-last-child(2) {
                border-bottom: 1px solid transparent;
            }

            &[data-layer="1"] {
                margin-left: $_32;
                width: calc(100% - $_32);
            }

            &[data-layer="2"] {
                margin-left: $_32 * 2;
                width: calc(100% - $_32 * 2);
            }

            &[data-layer="3"] {
                margin-left: $_32 * 3;
                width: calc(100% - $_32 * 3);
            }

            &[data-layer="4"] {
                margin-left: $_32 * 4;
                width: calc(100% - $_32 * 4);
            }

            &[data-layer="5"] {
                margin-left: $_32 * 5;
                width: calc(100% - $_32 * 5);
            }

            &[data-selected="1"] {
                background-color: #000;
                color: #fff;

                i.fa-caret-right {
                    display: block;
                }
            }

            @media (hover: hover) and (pointer: fine) {

                &:hover {
                    background-color: lightgray;
                }
            }

            i.fa-caret-right {
                display: none;
            }
        }

        >section {
            display: flex;
            justify-content: center;
            gap: $_16;
            background-color: #fff;

            &:first-child {
                z-index: 10;
                position: sticky;
                top: 0;
                padding: 0 0 $_16;
                border-bottom: 1px solid lightgray;
            }

            &:last-child {
                z-index: 10;
                position: sticky;
                bottom: 0;
                padding: $_16 0 0;
                border-top: 1px solid lightgray;
            }

            >button {
                padding: 0 $_16;
                line-height: $_24;
                height: $_32;
                font-size: $_14;
                border: 1px solid #000;
                border-radius: $_12;
                transition: 0.3s;

                &:first-child {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}