>section.folder {
    display: flex;
    flex-flow: column;
    margin: 0 0 $_128;
    width: 100%;
    background-color: #fff;

    >section.list {
        display: flex;
        flex-flow: column;

        &[data-grid="1"] {
            flex-flow: row wrap;
            gap: $_12 $_32;

            &:has(div),
            &:has(details) {
                padding: $_24 $_24 0;
            }

            div {
                flex-flow: column;
                gap: $_12;
                padding: 0;
                width: calc((100% - $_32) / 2);
                border-bottom: 1px solid transparent;
                border-radius: $_4;

                @media screen and (min-width: $_480) {
                    width: calc((100% - $_32 * 2) / 3);
                }

                @media screen and (min-width: $_800) {
                    width: calc((100% - $_32 * 3) / 4);
                }

                @media screen and (min-width: $_1024) {
                    width: calc((100% - $_32 * 4) / 5);
                }

                @media screen and (min-width: $_1280) {
                    width: calc((100% - $_32 * 5) / 6);
                }

                @media screen and (min-width: $_1440) {
                    width: calc((100% - $_32 * 6) / 7);
                }

                @media screen and (min-width: $_1680) {
                    width: calc((100% - $_32 * 7) / 8);
                }

                @media screen and (min-width: $_1920) {
                    width: calc((100% - $_32 * 8) / 9);
                }

                @media screen and (min-width: $_2160) {
                    width: calc((100% - $_32 * 9) / 10);
                }

                >button,
                >section {
                    max-width: 100%;

                    &.left {
                        flex-flow: column;

                        i:first-child,
                        img {
                            padding: $_8;
                            width: 100%;
                            height: unset;
                            aspect-ratio: 16 / 10;
                        }

                        p {
                            padding: 0 $_12;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    &.right {
                        justify-content: center;
                        gap: $_8;
                    }
                }
            }

            details {

                &[open] summary {
                    margin: 0 0 $_24;
                }

                summary {
                    padding: $_12 0;
                }

                >button,
                >section {
                    flex-flow: row wrap;
                    gap: $_12 $_32;
                    padding: 0;

                    &::after {
                        padding: $_12 0;
                    }
                }
            }
        }

        // 檔案
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $_12 $_24;
            width: 100%;
            border-bottom: 1px solid lightgray;

            @media (hover: hover) and (pointer: fine) {

                &:hover {
                    background-color: lightgray;
                    transition: 0.3s;

                    >section.right button {
                        opacity: 1;
                    }
                }
            }

            >button,
            >section {
                display: flex;
                align-items: center;
                gap: $_12;

                &.left {
                    cursor: pointer;

                    // 圖片 / 圖示
                    i:first-child,
                    img {
                        object-fit: contain;
                        width: $_28;
                        height: $_28;
                        line-height: $_28;
                        text-align: center;
                        font-size: $_18;
                        filter: drop-shadow(0 $_2 $_4 darkgray);
                        -webkit-filter: drop-shadow(0 $_2 $_4 darkgray);
                    }

                    // 檔案名稱
                    p {
                        line-height: $_24;
                        max-height: $_24;
                        text-overflow: ellipsis;
                        font-size: $_14;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                &.right {

                    button {
                        width: $_28;
                        line-height: $_28;
                        height: $_28;
                        text-align: center;
                        border-radius: $_4;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }
            }
        }

        // 檔案夾
        details {
            display: flex;
            flex-flow: column;
            width: 100%;

            &[open] summary {

                >section.left {
                    color: blue;

                    p {
                        color: blue;
                    }

                    i.fa-folder-open {
                        display: block;
                    }

                    i.fa-folder-closed {
                        display: none;
                    }
                }
            }

            summary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: $_12;
                padding: $_12 $_24;
                font-size: $_14;
                border-bottom: 1px solid lightgray;
                cursor: pointer;

                // 隱藏預設圖示
                &::-webkit-details-marker {
                    display: none;
                }

                @media (hover: hover) and (pointer: fine) {

                    &:hover>section.right button {
                        opacity: 1;
                    }
                }

                >section {
                    display: flex;
                    align-items: center;

                    &.left {
                        gap: $_12;

                        // 圖片 / 圖示
                        i.fa-folder-open,
                        i.fa-folder-closed,
                        img {
                            object-fit: contain;
                            width: $_28;
                            height: $_28;
                            line-height: $_28;
                            text-align: center;
                            font-size: $_18;
                            filter: drop-shadow(0 $_2 $_4 darkgray);
                            -webkit-filter: drop-shadow(0 $_2 $_4 darkgray);
                        }


                        i.fa-folder-open {
                            display: none;
                        }

                        // 檔案名稱
                        p {
                            font-size: $_14;
                        }
                    }

                    &.right {
                        gap: $_12;

                        button {
                            width: $_28;
                            line-height: $_28;
                            height: $_28;
                            text-align: center;
                            border-radius: $_4;
                            font-size: $_16;
                            opacity: 0;
                            transition: 0.3s;
                        }
                    }
                }
            }

            >button,
            >section {
                display: flex;
                flex-flow: column;
                padding: 0 0 0 $_36;

                &:not(:has(div))::after {
                    content: "尚無檔案";
                    padding: $_12 $_24;
                    width: 100%;
                    line-height: $_24;
                    font-size: $_14;
                    color: lightslategrey;
                    border-bottom: 1px solid lightgray;
                }
            }
        }
    }
}