>section.body-right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;

    padding: $_64 0 0;
    width: 100%;
    overflow: hidden scroll;

    background-color: whitesmoke;
    transition: 0.3s;

    * {
        flex-shrink: 0;
    }

    &:has(section.markdown:not(.file))>nav,
    &:has(section.folder)>nav {
        max-width: unset;
    }


    &:has(section.markdown.file)>section.top-button {
        max-width: $_1024;
    }

    >nav {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        width: calc(100% - $_12 * 2);
        max-width: $_1024;
        height: $_40;

        button {
            margin: 0 0 0 1rem;

            @media screen and (min-width: 640px) {
                display: none;
            }

            i {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        a,
        span {
            font-size: $_12;
            text-decoration: none;

            &::before {
                content: "/";
                padding: 0 $_6;
                font-size: $_12;
            }

            &:nth-child(2)::before {
                content: "";
            }
        }
    }

    // >p {
    //     margin: 0 1rem;
    //     line-height: 1rem;
    //     height: 1rem;
    //     font-size: 0.75rem;

    //     i {
    //         width: 1rem;
    //         line-height: 1rem;
    //         height: 1rem;
    //         text-align: center;
    //         pointer-events: none;
    //     }
    // }

    // >hr {
    //     position: relative;
    //     margin: 2rem 1rem;
    //     border-top: 1px solid var(--col-border)
    // }

    @import "./top-button";
    @import "./top-photo";
    @import "./form";
    @import "./database";
    @import "./markdown";
    @import "./folder";
    @import "./folder-viewer";
    @import "./folder-path";
}