>section.markdown {
    display: flex;
    width: 100%;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;

        width: 0;
        background-color: transparent;

        @media screen and (min-width: $_800) {
            width: 1px;
            background-color: lightgray;
        }
    }

    &.file {
        max-width: $_1024;

        &::after {
            background-color: transparent;
        }

        >section.editor {

            @media screen and (min-width: $_800) {
                width: 100%;
            }
        }
    }

    >section {
        display: flex;
        flex-flow: column;
        min-height: calc(100vh - $_64 - $_40 - $_44);
        background-color: #fff;

        // 編輯
        &.editor {
            width: 100%;

            &.json {
                background-color: #000;
            
                div {
                    font-family: monospace;
                    color: #fff;

                    &.inputFocus {
                        color: lightgreen !important;
                    }
                }
            }

            @media screen and (min-width: $_800) {
                width: 50%;
            }

            >section.top {
                display: flex;
                flex-flow: column;
                gap: $_4;
                padding: $_16 $_24 $_8;
                border-bottom: 1px solid lightgray;

                textarea.h1 {
                    width: 100%;
                    line-height: $_36;
                    height: $_36;
                    font-size: $_24;
                    font-weight: 700;
                }

                textarea.tag {
                    width: 100%;
                    height: $_24;
                    line-height: $_24;
                    font-size: $_14;
                }
            }

            >section.md-editor {
                position: relative;
                padding: $_16 $_8 $_256;
                width: 100%;
                height: unset;

                div {
                    width: 100%;
                    white-space: pre-wrap;
                }
            }
        }

        // 預覽
        &.viewer {
            width: 0;
            max-height: 0;
            opacity: 0;
            overflow: hidden;

            @media screen and (min-width: $_800) {
                width: 50%;
                max-height: unset;
                opacity: 1;
            }

            >section.md-viewer {
                padding: $_16 $_24 $_256;
                height: unset;
            }
        }
    }
}