>section.top-photo {
    z-index: 5;
    position: sticky;
    top: $_40;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;
    gap: $_24;
    padding: 0 $_16;
    width: 100%;
    height: 0;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 0 $_2 $_4 darkgray;
    transition: 0.3s;

    &.show {
        padding: $_16;
        height: $_256;
    }

    button {
        flex-shrink: 0;
        display: flex;
        width: calc((100% - $_24 * 2) / 3);
        aspect-ratio: 1 / 1;
        border-radius: $_4;
        overflow: visible;

        @media screen and (min-width: $_480) {
            width: calc((100% - $_24 * 3) / 4);
        }

        @media screen and (min-width: $_512) {
            width: calc((100% - $_24 * 4) / 5);
        }

        @media screen and (min-width: $_640) {
            width: calc((100% - $_24 * 5) / 6);
        }

        @media screen and (min-width: $_800) {
            width: calc((100% - $_24 * 6) / 7);
        }

        @media screen and (min-width: $_1024) {
            width: calc((100% - $_24 * 7) / 8);
        }

        @media screen and (min-width: $_1280) {
            width: calc((100% - $_24 * 8) / 9);
        }

        @media screen and (min-width: $_1440) {
            width: calc((100% - $_24 * 9) / 10);
        }

        @media screen and (min-width: $_1680) {
            width: calc((100% - $_24 * 10) / 11);
        }

        @media screen and (min-width: $_1920) {
            width: calc((100% - $_24 * 11) / 12);
        }

        @media screen and (min-width: $_2160) {
            width: calc((100% - $_24 * 12) / 13);
        }

        @media (hover: hover) and (pointer: fine) {

            &:hover {
                background-color: lightgrey;
            }
        }

        * {
            pointer-events: none;
        }
    }

    img {
        object-fit: contain;
        padding: $_8;
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 $_2 $_4 darkgray);
        -webkit-filter: drop-shadow(0 $_2 $_4 darkgray);
        background-color: transparent;
        transition: 0.3s;
    }
}