<!DOCTYPE html>
<html lang="zh-hant">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PARDN. LTD 管理後台｜首頁/會員管理/系統提醒</title>
	<link rel="stylesheet" href="../../css/index.css">
	<script src="../../js/dataExample.js" defer></script>
	<script src="../../js/index.min.js" defer></script>
	<script src="../../js/inputRegex.js" defer></script>
	<script src="../../js/userList.js" defer></script>
</head>

<body class="no-select">
	<nav class="top-nav">
		<section>
            <section class="left">
                <a href="">
                    <img src="./image/logo_ffffff.svg" alt="">
                </a>
                <strong>PARDN. LTD 管理後台</strong>
            </section>
            <section class="right">
                <button class="df" onclick="javascript: window.open('view/login.html', '_self')">登出</button>
            </section>
		</section>
	</nav>
	<div id="left-tab"></div>
	<div id="right-content">
		<section>
			<nav>
				<ul>
					<li>
						<a href="./index.html">首頁</a>
					</li>
					<li>
						<a>會員管理</a>
					</li>
					<li>
						<a href="./notify.html">系統提醒</a>
					</li>
					<li>
						<a href="./notifyTrash.html">垃圾桶</a>
					</li>
				</ul>
			</nav>
			<div id="user-notify-trash" class="database"></div>
		</section>
	</div>
</body>

</html>