<!DOCTYPE html>
<html lang="zh-hant">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PARDN. LTD 管理後台｜首頁/訂單管理/訂單列表</title>
	<link rel="stylesheet" href="../../css/index.css">
	<script src="../../js/index.min.js" defer></script>
	<script src="../../js/inputRegex.js" defer></script>
	<script src="../../js/orderList.js" defer></script>
</head>

<body class="no-select">
	<nav id="top-nav">
		<section>
			<img src="../../image/logo_ffffff.svg" alt="">
			<h1>PARDN. LTD 管理後台</h1>
			<button onclick="javascript: window.open('../login.html', '_self')">登出</button>
		</section>
	</nav>
	<div id="left-tab"></div>
	<div id="right-content">
		<section>
			<nav>
				<ul>
					<li>
						<a href="../../index.html">首頁</a>
					</li>
					<li>
						<a>訂單管理</a>
					</li>
					<li>
						<a href="./list.html">訂單列表</a>
					</li>
				</ul>
			</nav>
			<div class="input">
				<h2>篩選訂單</h2>
				<form action="">
					<ul>
						<li class="r3 x2">
							<label for="">
								Order
								<input type="text" name="" id="" placeholder="訂單編號" regex="1" zh="0" en="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								State<br>
								<select name="" id="">
									<option value="0">選擇狀態</option>
									<option value="1">未付款</option>
									<option value="2">未出貨</option>
									<option value="3">未退款</option>
								</select>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Name<br>
								<input type="text" name="" id="" placeholder="名稱" regex="1" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Phone<br>
								<input type="text" name="" id="" placeholder="電話" regex="1" zh="0" en="0" space="0" symbol="0">
								<i></i>
							</label>
						</li>
						<li class="r3">
							<label for="">
								Email<br>
								<input type="text" name="" id="" placeholder="信箱" regex="1" email="1">
								<i></i>
							</label>
						</li>
						<li class="c2">
							<label for="">
								Buy<br>
								<input type="date" name="" id="">
								<p><i class="fas fa-arrows-alt-h"></i></p>
								<input type="date" name="" id="">
								<i></i>
							</label>
						</li>
						<li class="c4">
							<label for="">
								Pay<br>
								<input type="date" name="" id="">
								<p><i class="fas fa-arrows-alt-h"></i></p>
								<input type="date" name="" id="">
								<i></i>
							</label>
						</li>
						<li class="c4">
							<label for="">
								Ship<br>
								<input type="date" name="" id="">
								<p><i class="fas fa-arrows-alt-h"></i></p>
								<input type="date" name="" id="">
								<i></i>
							</label>
						</li>
					</ul>
				</form>
				<section>
					<ul>
						<li>搜尋</li>
						<li>匯出</li>
						<li class="clear">清除</li>
					</ul>
				</section>
			</div>
			<div id="order-list" class="database"></div>
		</section>
	</div>
</body>

</html>