<!DOCTYPE html>
<html lang="zh-hant">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PARDN. LTD 管理後台｜首頁/留言管理/自動屏蔽</title>
	<link rel="stylesheet" href="../../css/index.css">
	<script src="../../js/dataExample.js" defer></script>
	<script src="../../js/index.min.js" defer></script>
</head>

<body class="no-select">
	<nav id="top-nav">
		<section>
			<img src="../../image/logo_ffffff.svg" alt="">
			<h1>PARDN. LTD 管理後台</h1>
			<button onclick="javascript: window.open('view/login.html', '_self')">登出</button>
		</section>
	</nav>
	<div id="left-tab"></div>
	<div id="right-content">
		<section>
			<nav>
				<ul>
					<li>
						<a href="./index.html">首頁</a>
					</li>
					<li>
						<a>留言管理</a>
					</li>
					<li>
						<a href="./messageHide.html">自動屏蔽</a>
					</li>
				</ul>
				<a href="./messageHideTrash.html">
					<i class="fas fa-trash"></i>
				</a>
			</nav>
			<div class="database">
				<section>
					<table> 
						<thead>
							<tr>
								<th>
									日期
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									名稱
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									電話
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									信箱
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									選項
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									屏蔽原因
									<i class="fas fa-caret-up"></i>
								</th>
								<th>動作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2022-01-01 00:00:00</td>
								<td>王大明</td>
								<td>
									<i class="fas fa-mobile"></i>
									0912345678
								</td>
								<td>
									<i class="fas fa-envelope"></i>
									mail@icloud.com
								</td>
								<td>選項一</td>
								<td>關鍵字</td>
								<td>
									<button>內容</button>
									<button class="offline">移除</button>
								</td>
							</tr>
							<tr>
								<td>2022-01-01 00:00:00</td>
								<td>王大明</td>
								<td>
									<i class="fas fa-mobile"></i>
									0912345678
								</td>
								<td></td>
								<td>選項一</td>
								<td>電話</td>
								<td>
									<button>內容</button>
									<button class="offline">移除</button>
								</td>
							</tr>
							<tr>
								<td>2022-01-01 00:00:00</td>
								<td>王大明</td>
								<td></td>
								<td>
									<i class="fas fa-envelope"></i>
									mail@icloud.com
								</td>
								<td>選項一</td>
								<td>信箱</td>
								<td>
									<button>內容</button>
									<button class="offline">移除</button>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
				<footer>
					<ul>
						<li>上一頁</li>
						<li>1</li>
						<li>下一頁</li>
					</ul>
					<div>
						<p>顯示</p>
						<select name="" id="">
							<option value="10">10</option>
							<option value="100">50</option>
							<option value="100">100</option>
						</select>
						<p>筆結果</p>
					</div>
				</footer>
			</div>
			<hr>
			<div class="input">
				<h2>自動屏蔽</h2>
				<form action="">
					<ul>
						<li class="r3">
							<label for="">Keyword</label>
							<input type="text" name="" id="" placeholder="關鍵字">
						</li>
						<li class="r3">
							<label for="">Phone</label>
							<input type="text" name="" id="" placeholder="電話">
						</li>
						<li class="r3">
							<label for="">Email</label>
							<input type="text" name="" id="" placeholder="信箱">
						</li>
					</ul>
				</form>
				<section>
					<ul>
						<li>儲存</li>
						<li class="clear">清除</li>
					</ul>
				</section>
			</div>
			<div class="database">
				<section>
					<table> 
						<thead>
							<tr>
								<th>
									偵測
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									內容
									<i class="fas fa-caret-up"></i>
								</th>
								<th>動作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>關鍵字</td>
								<td>爛</td>
								<td>
									<button>編輯</button>
									<button class="offline">移除</button>
								</td>
							</tr>
							<tr>
								<td>電話</td>
								<td>0912345678</td>
								<td>
									<button>編輯</button>
									<button class="offline">移除</button>
								</td>
							</tr>
							<tr>
								<td>信箱</td>
								<td>mail@icloud.com</td>
								<td>
									<button>編輯</button>
									<button class="offline">移除</button>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
				<footer>
					<ul>
						<li>上一頁</li>
						<li>1</li>
						<li>下一頁</li>
					</ul>
					<div>
						<p>顯示</p>
						<select name="" id="">
							<option value="10">10</option>
							<option value="100">50</option>
							<option value="100">100</option>
						</select>
						<p>筆結果</p>
					</div>
				</footer>
			</div>
		</section>
	</div>
</body>

</html>