<!DOCTYPE html>
<html lang="zh-hant">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PARDN. LTD 管理後台｜首頁/留言管理/留言列表/垃圾桶</title>
	<link rel="stylesheet" href="../../css/index.css">
	<script src="../../js/dataExample.js" defer></script>
	<script src="../../js/index.min.js" defer></script>
</head>

<body class="no-select">
	<nav id="top-nav">
		<section>
			<img src="../../image/logo_ffffff.svg" alt="">
			<h1>PARDN. LTD 管理後台</h1>
			<button onclick="javascript: window.open('../login.html', '_self')">登出</button>
		</section>
	</nav>
	<div id="left-tab"></div>
	<div id="right-content">
		<section>
			<nav>
				<ul>
					<li>
						<a href="./index.html">首頁</a>
					</li>
					<li>
						<a>留言管理</a>
					</li>
					<li>
						<a href="./messageList.html">留言列表</a>
					</li>
					<li>
						<a href="./messageListTrash.html">垃圾桶</a>
					</li>
				</ul>
			</nav>
			<div class="database">
				<section>
					<table> 
						<thead>
							<tr>
								<th>
									日期
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									名稱
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									電話
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									信箱
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									選項
									<i class="fas fa-caret-up"></i>
								</th>
								<th>
									內容
									<i class="fas fa-caret-up"></i>
								</th>
								<th>動作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2022-01-01 00:00:00</td>
								<td>王大明</td>
								<td>
									<i class="fas fa-mobile"></i>
									0912345678
								</td>
								<td>
									<i class="fas fa-envelope"></i>
									mail@icloud.com
								</td>
								<td>選項一</td>
								<td>測試內容測試內容測試內容測試內容測試內容測試內容測試內容測試內容</td>
								<td>
									<button>內容</button>
								</td>
							</tr>
							<tr>
								<td>2022-01-01 00:00:00</td>
								<td>王大明</td>
								<td>
									<i class="fas fa-mobile"></i>
									0912345678
								</td>
								<td></td>
								<td>選項一</td>
								<td>測試內容測試內容測試內容測試內容測試內容測試內容測試內容測試內容</td>
								<td>
									<button>內容</button>
								</td>
							</tr>
							<tr>
								<td>2022-01-01 00:00:00</td>
								<td>王大明</td>
								<td></td>
								<td>
									<i class="fas fa-envelope"></i>
									mail@icloud.com
								</td>
								<td>選項一</td>
								<td>測試內容測試內容測試內容測試內容測試內容測試內容測試內容測試內容</td>
								<td>
									<button>內容</button>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
				<footer>
					<ul>
						<li>上一頁</li>
						<li>1</li>
						<li>下一頁</li>
					</ul>
					<div>
						<p>顯示</p>
						<select name="" id="">
							<option value="10">10</option>
							<option value="100">50</option>
							<option value="100">100</option>
						</select>
						<p>筆結果</p>
					</div>
				</footer>
			</div>
		</section>
	</div>
</body>

</html>