<section class="body-right">
    <!-- 頂部導覽列 -->
    <nav>
        <button>
            <i class="fa-solid fa-bars"></i>
        </button>
        <a :href="e.href" :for="e in top_tab">{{ e.title }}</a>
    </nav>
    <!-- 表單 -->
    <section class="body-right-form">
        <section>
            <strong>{{ form.title }}</strong>
            <form action="">
                <label :for="(key, val) in form.data" :class="val.size">{{ key }}
                    <input :if="val.is_select == false" :type="val.type" :placeholder="val.placeholder" :model="val.value">
                </label>
            </form>
            <section>
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    搜尋
                </button>
                <button>
                    <i class="fa-solid fa-file-export"></i>
                    匯出
                </button>
                <button class="clear">
                    <i class="fa-solid fa-eraser"></i>
                    清除
                </button>
            </section>
        </section>
    </section>
    <!-- 資料庫 -->
    <section class="body-right-database">
        <section>
            <!-- 列表 -->
            <table>
                <thead>
                    <tr>
                        <th :for="e in database.head">{{ e }}</th>
                        <th>其他</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :class="e.class" :for="e in database.list">
                        <td :for="a in e.body" :html="a"></td>
                        <td>
                            <button>編輯</button>
                            <button class="alert" :if="e.is_deleted == false">刪除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- 按鈕 -->
        <footer>
            <section>
                <a href="" user-select="0">上一頁</a>
                <a href="" user-select="0">下一頁</a>
            </section>
            <section>
                <p user-select="0">顯示</p>
                <select name="" id="">
                    <option value="">10</option>
                    <option value="">50</option>
                </select>
                <p user-select="0">結果</p>
            </section>
        </footer>
    </section>
</section>