<section class="body-right">
    <!-- 頂部導覽列 -->
    <nav>
        <button @click="body_left_show">
            <i class="fa-solid fa-bars"></i>
        </button>
        <a :href="e.href" :for="e in top_tab">{{ e.title }}</a>
    </nav>
    <!-- 頂部按鈕 -->
    <section class="top-button">
        <section>
            <button class="hint" title="上傳檔案">
                <i class="fa-solid fa-upload"></i>
            </button>
            <button class="hint" title="新增資料夾">
                <i class="fa-solid fa-folder-plus"></i>
            </button>
            <span></span>
            <button class="hint" title="列表顯示" @click="change_to_list">
                <i class="fa-solid fa-list"></i>
            </button>
            <button class="hint" title="格狀顯示" @click="change_to_grid">
                <i class="fa-solid fa-border-all"></i>
            </button>
        </section>
    </section>
    <!--  -->
    <section class="folder">
        <section class="list" :data-grid="is_folder_grid">
            <div>
                <button class="left" @click="get_image_viewer" data-src="./image/video.svg">
                    <img src="./image/video.svg" alt="">
                    <p>video.svg</p>
                </button>
                <section class="right">
                    <button class="hint" title="重新命名" @click="set_file_name" data-src="./image/video.svg">
                        <i class="fa-solid fa-file-pen"></i>
                    </button>
                    <button class="hint" title="移動檔案" @click="set_file_folder">
                        <i class="fa-solid fa-file-export"></i>
                    </button>
                    <button class="hint alert" title="刪除檔案" @click="delete_file" data-src="./image/video.svg">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </section>
            </div>
            <details>
                <summary title="開啟檔案夾">
                    <section class="left">
                        <i class="fa-solid fa-folder-open"></i>
                        <i class="fa-solid fa-folder-closed"></i>
                        <p>logo</p>
                    </section>
                    <section class="right">
                        <button class="hint" title="重新命名" @click="set_file_name" data-src="./logo">
                            <i class="fa-solid fa-file-pen"></i>
                        </button>
                        <button class="hint" title="移動檔案夾" @click="set_file_folder">
                            <i class="fa-solid fa-file-export"></i>
                        </button>
                        <button class="hint alert" title="刪除檔案夾" @click="delete_folder">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </section>
                </summary>
                <section>
                    <div>
                        <button class="left" @click="get_image_viewer" data-src="./image/logo/logo_606060.svg">
                            <img src="./image/logo/logo_606060.svg" alt="">
                            <p>logo_606060.svg</p>
                        </button>
                        <section class="right">
                            <button class="hint" title="重新命名" @click="set_file_name" data-src="./image/logo/logo_606060.svg">
                                <i class="fa-solid fa-file-pen"></i>
                            </button>
                            <button class="hint" title="移動檔案" @click="set_file_folder">
                                <i class="fa-solid fa-file-export"></i>
                            </button>
                            <button class="hint alert" title="刪除檔案" @click="delete_file" data-src="./image/logo/logo_606060.svg">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </section>
                    </div>
                    <div>
                        <button class="left" @click="get_image_viewer" data-src="./image/logo/logo_ffffff.svg">
                            <img src="./image/logo/logo_ffffff.svg" alt="">
                            <p>logo_606060.svg</p>
                        </button>
                        <section class="right">
                            <button class="hint" title="重新命名" @click="set_file_name" data-src="./image/logo/logo_ffffff.svg">
                                <i class="fa-solid fa-file-pen"></i>
                            </button>
                            <button class="hint" title="移動檔案" @click="set_file_folder">
                                <i class="fa-solid fa-file-export"></i>
                            </button>
                            <button class="hint alert" title="刪除檔案" @click="delete_file" data-src="./image/logo/logo_ffffff.svg">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </section>
                    </div>
                </section>
            </details>
            <details>
                <summary>
                    <section class="left">
                        <i class="fa-solid fa-folder-open"></i>
                        <i class="fa-solid fa-folder-closed"></i>
                        <p>preview</p>
                    </section>
                    <section class="right">
                        <button class="hint" title="重新命名" @click="set_file_name" data-src="./空資料夾範例">
                            <i class="fa-solid fa-file-pen"></i>
                        </button>
                        <button class="hint" title="移動檔案夾" @click="set_file_folder">
                            <i class="fa-solid fa-file-export"></i>
                        </button>
                        <button class="hint alert" title="刪除檔案夾" @click="delete_folder">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </section>
                </summary>
                <section>
                    <div>
                        <button class="left" @click="get_image_viewer" data-src="./image/preview/01.png">
                            <img src="./image/preview/01.png" alt="">
                            <p>01.png</p>
                        </button>
                        <section class="right">
                            <button class="hint" title="重新命名" @click="set_file_name" data-src="./image/preview/01.png">
                                <i class="fa-solid fa-file-pen"></i>
                            </button>
                            <button class="hint" title="移動檔案" @click="set_file_folder">
                                <i class="fa-solid fa-file-export"></i>
                            </button>
                            <button class="hint alert" title="刪除檔案" @click="delete_file" data-src="./image/preview/01.png">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </section>
                    </div>
                    <div>
                        <button class="left" @click="get_image_viewer" data-src="./image/preview/02.png">
                            <img src="./image/preview/02.png" alt="">
                            <p>02.png</p>
                        </button>
                        <section class="right">
                            <button class="hint" title="重新命名" @click="set_file_name" data-src="./image/preview/02.png">
                                <i class="fa-solid fa-file-pen"></i>
                            </button>
                            <button class="hint" title="移動檔案" @click="set_file_folder">
                                <i class="fa-solid fa-file-export"></i>
                            </button>
                            <button class="hint alert" title="刪除檔案" @click="delete_file" data-src="./image/preview/02.png">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </section>
                    </div>
                    <div>
                        <button class="left" @click="get_image_viewer" data-src="./image/preview/03.png">
                            <img src="./image/preview/03.png" alt="">
                            <p>03.png</p>
                        </button>
                        <section class="right">
                            <button class="hint" title="重新命名" @click="set_file_name" data-src="./image/preview/03.png">
                                <i class="fa-solid fa-file-pen"></i>
                            </button>
                            <button class="hint" title="移動檔案" @click="set_file_folder">
                                <i class="fa-solid fa-file-export"></i>
                            </button>
                            <button class="hint alert" title="刪除檔案" @click="delete_file" data-src="./image/preview/03.png">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </section>
                    </div>
                </section>
            </details>
            <details>
                <summary>
                    <section class="left">
                        <i class="fa-solid fa-folder-open"></i>
                        <i class="fa-solid fa-folder-closed"></i>
                        <p>空資料夾範例</p>
                    </section>
                    <section class="right">
                        <button class="hint" title="重新命名" @click="set_file_name" data-src="./空資料夾範例">
                            <i class="fa-solid fa-file-pen"></i>
                        </button>
                        <button class="hint" title="移動檔案夾" @click="set_file_folder">
                            <i class="fa-solid fa-file-export"></i>
                        </button>
                        <button class="hint alert" title="刪除檔案夾" @click="delete_folder">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </section>
                </summary>
                <section>
                </section>
            </details>
        </section>
    </section>
    <!--  -->
    <section class="folder-viewer">
        <section class="button top">
            <button class="hint" name="download" title="下載檔案">
                <i class="fa-solid fa-download"></i>
            </button>
            <button class="hint" name="delete" title="刪除檔案" @click="delete_file">
                <i class="fa-solid fa-trash-can"></i>
            </button>
            <button class="hint" title="關閉預覽" @click="get_image_viewer">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
        </section>
        <section class="body" @click="get_image_viewer">
        </section>
    </section>
    <!--  -->
    <section class="folder-path">
        <section>
            <section>
                <strong>選擇目標檔案夾</strong>
            </section>
            <div data-layer="0" @click="set_file_folder_selected">
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-folder-closed"></i>
                第一層
            </div>
            <div data-layer="1" @click="set_file_folder_selected">
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-folder-closed"></i>
                第二層
            </div>
            <div data-layer="2" @click="set_file_folder_selected">
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-folder-closed"></i>
                第三層
            </div>
            <div data-layer="3" @click="set_file_folder_selected">
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-folder-closed"></i>
                第四層
            </div>
            <div data-layer="4" @click="set_file_folder_selected">
                <i class="fa-solid fa-caret-right"></i>
                <i class="fa-solid fa-folder-closed"></i>
                第五層
            </div>
            <section>
                <button @click="set_file_folder">
                    搬移
                </button>
                <button @click="set_file_folder">
                    取消
                </button>
            </section>
        </section>
    </section>
</section>