<!DOCTYPE html>
<html lang="zh-hant">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>.dom-temp {display: none !important;} </style>
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
        <script src="https://pardnchiu.github.io/PDExtension-js/v3/PDExtension.min.js" copyright="Pardn Ltd"></script>
    </head>

    <body class="no-select">
        <section id="login-page" class="login dom-temp">
            <h1>{{ title }}</h1>
            <section>
                <label>
                    <input type="password" placeholder="API Key" :model="key">
                </label>
                <i class="fa-solid fa-eye-slash" @click="show"></i>
            </section>
            <button @click="send">
                前往
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </section>
        <!-- <div id="login-block">
		<img src="../image/logo_606060.svg" alt="">
		<section>
			<form action="">
				<label for="">Email / User ID</label>
				<input type="text" name="" id="" placeholder="電子信箱 / 會員編號">
				<label for="">Password</label>
				<input type="password" name="" id="" placeholder="密碼">
			</form>
			<div>
				<button onclick="javascript: window.open('../index.html', '_self')">登入</button>
				<a href="">忘記密碼?</a>
			</div>
		</section>
	</div> -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const login = new $dom({
                    id: "login-page",
                    data: {
                        title: "LOGIN",
                        email: "",
                        password: ""
                    },
                    event: {
                        show: function () {
                            const isShow = this.$parent(0).$$class("show");
                            this.__class(`fa-solid ${isShow ? "fa-eye-slash" : "fa-eye"}`);
                            this.$pre(0).$child(0).type = isShow ? "password" : "text";
                            this.$parent(0).$$class_(isShow, "show");
                        },
                        send: function () {
                            // if (login.data.email.$$mt || login.data.password.$$mt) return;

                            // const email = login.data.email;
                            // const password = login.data.password;

                            // "/management/login".$req({
                            //     method: "POST",
                            //     json: {
                            //         email: email,
                            //         password: password
                            //     },
                            //     header: {
                            //         "Content-Type": "application/json;charset=UTF-8"
                            //     }
                            // }).then(res => {
                            console.log(login)
                            login.dom._class("show");

                            setTimeout(() => {
                                location.href = "/management-1-web";
                                // login.dom.class_("show")
                            }, 310);
                            // }).catch(err => {
                            //     alert(err);
                            // });
                        }
                    },
                    next: () => {
                        // const url = new URL(location.href);

                        // login.data.email = url.searchParams.get("user_email");
                        // history.replaceState(null, null, "/management/login");
                    }
                });
            });
        </script>
    </body>

</html>