<!DOCTYPE html>
<html lang="zh-hant">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../css/index.css">
</head>

<body class="no-select">
	<div id="login-block">
		<img src="../image/logo_606060.svg" alt="">
		<section>
			<form action="">
				<label for="">Email / User ID</label>
				<input type="text" name="" id="" placeholder="電子信箱 / 會員編號">
				<label for="">Password</label>
				<input type="password" name="" id="" placeholder="密碼">
			</form>
			<div>
				<button onclick="javascript: window.open('../index.html', '_self')">登入</button>
				<a href="">忘記密碼?</a>
			</div>
		</section>
	</div>
</body>

</html>